.page-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-image: url(img/header.jpg);
    background-size: cover;
    padding-bottom: 3rem;
    padding-top: 6rem;
    text-decoration: none;
    font-weight:700;
    font-size: 6vw;
}

.aa {
    color: white;
}

.logo-white {
    filter: brightness(0) invert(1);
}